{% extends "base.html" %}
{% load static %}

{% block title %}
    Редактировать пользователя
{% endblock %}

{% block content %}
        <div class="block-auth_form">
            <img src="{% static 'img/background-top.png' %}" alt="">
            <div class="auth_form-title">
                <h1>Авторизация</h1>
            </div>
            <form class="auth_form" action="POST">
                <input type="text" placeholder="ЛОГИН">
                <input type="text" placeholder="ПАРОЛЬ">
                <button>Войти</button>
            </form>
            <img src="{% static 'img/background-bottom.png' %}" alt="">
        </div>

        <style>
            .nav-menu{
                display: none;
            }
        </style>
{% endblock %}