{% extends "base.html" %}
{% load static %}

{% block title %}
    Редактировать пользователя
{% endblock %}

{% block content %}
        
    <script>
        // var now = moment();
        // var monday = now.clone().weekday(1).format('D');
        // var tuesday = now.clone().weekday(2).format('D');
        // var wednesday = now.clone().weekday(3).format('D');
        // var thursday = now.clone().weekday(4).format('D');
        // var friday = now.clone().weekday(5).format('D');
        // var satuday = now.clone().weekday(6).format('D');
        // var sunday = now.clone().weekday(7).format('D');
    </script>
{% endblock %}