{% extends "base.html" %}
{% load static %}

{% block title %}
    Редактировать пользователя
{% endblock %}

{% block content %}
        <div class="home-header">
            <div class="home_header-title">
                <p>Главная</p>
            </div>
        </div>
        <div class="training_schedule">
            <div class="training_schedule-title">
                <p>График тренировок</p>
            </div>
            <div class="training_schedule-elements">
                <div class="training_schedule-elem">
                    <p></p>
                    <p></p>
                </div>
                <div class="training_schedule-elem">
                    <p></p>
                    <p></p>
                </div>
                <div class="training_schedule-elem">
                    <p></p>
                    <p></p>
                </div>
                <div class="training_schedule-elem">
                    <p></p>
                    <p></p>
                </div>
                <div class="training_schedule-elem">
                    <p></p>
                    <p></p>
                </div>
                <div class="training_schedule-elem">
                    <p></p>
                    <p></p>
                </div>
                <div class="training_schedule-elem">
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
        <button onclick="showVideo()">отсканировать код</button>
        <div id="loadingMessage"></div>
        <canvas id="canvas" hidden></canvas>
        <div id="output" hidden>
            <div id="outputMessage"></div>
            <div hidden><b>Data:</b> <span id="outputData"></span></div>
        </div>
    <script>


        var now = moment();
        var monday = now.clone().weekday(1).format('D');
        var tuesday = now.clone().weekday(2).format('D');
        var wednesday = now.clone().weekday(3).format('D');
        var thursday = now.clone().weekday(4).format('D');
        var friday = now.clone().weekday(5).format('D');
        var satuday = now.clone().weekday(6).format('D');
        var sunday = now.clone().weekday(7).format('D');
        console.log(sunday)
    </script>
{% endblock %}